body {

  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  color: @black;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  background-color: @white;
}
