@white: #ffffff;
@white-down: rgba(255, 255, 255, 0.3);
@black: #000000;
@black-hover: rgba(0, 0, 0, 0.6);
@black-active: rgba(0, 0, 0, 0.3);
@green-range: #62d1ba;
@green-left-btn: #63d1bb;
@green-left-btn-hover: #59d5bc;
@green-right-btn: #56c3b2
@green-right-btn-hover: #46c1ae
@green-down: rgba(70, 193, 174, 0.3);
@grey-light: #f1f1f1;
@grey-dark: #444444;
@grey-range-text: rgba(68, 68, 68, 0.3);
