.catalog {
  border: 1px solid green;
}

.catalog__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
}

.catalog__item-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
}

.catalog__item-characteristic {
  font-size: 13px;
  line-height: 2.31;
  text-align: left;
  color: @grey-dark;
}

.catalog__cost {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
}
