.contacts {
  max-width: 320px;
  margin: 0 auto;
}

.contacts__wrapper {
  margin: 0;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: left;
  margin: 25px 29px 0 28px;
}

.contacts__table {
  display: table;
  padding: 0;
  margin: auto;
  font-size: 15px;
  line-height: 2;
  text-align: left;
  color: @grey-dark;
  margin-left: 25px;
  margin-bottom: 35px;
}

.contacts__table-row {
  display: table-row;
}

.contacts__table-cell {
  display: table-cell;
  padding-right: 27px;
  padding-top: 25px;
}

.contacts__table-row:nth-child(2) .cell1 {
    vertical-align: top;
}

.cell-mail {
  text-decoration: underline #46c1ae;
  color: @grey-dark;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
}

.contacts__map-image {
  display: block;
  width: 322px;
  height: 457px;
}

.contacts__map-pin {
  position: absolute;
  max-width: 320px;
  margin: 0 auto;
  left: 137px;
  top: 145px;
  fill: @white;
}

.info-list__mail,
.info-list__address {
  font-size: 15px;
  line-height: 2;
  text-align: left;
  color: @grey-dark;
}

.contacts__write-link {
  display: flex;
  margin: 39px auto;
  width: 260px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: solid 2px @grey-dark;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: @grey-dark;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: @white;
    background-color: @grey-dark;
  }

  &:active {
    color: @white-down;
    background-color: @grey-dark;
  }
}

.logo-footer__icon-flag {
  display: none;
}

@media (min-width: @tablet-width) {
  .contacts {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .contacts__wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .contacts__desktop-box {
    width: 668px;
    margin: 0 auto;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 1.16;
    margin: 0;
    margin-left: -5px;
    margin-top: -10px;
    order: -1;
  }

  .contacts__table tbody {
    display: flex;
    flex-direction: row;
    margin: 5px 0 20px 5px;
    padding: 0 10px 0 20px;
    font-size: 17px;
    line-height: 1.76;
    text-align: left;
  }

  .contacts__table-cell {
    padding-right: 15px;
  }

  .cell-mail {
    margin-right: 35px;
  }

  .contacts__map-image {
    display: block;
    width: 768px;
    height: 457px;
  }

  .contacts__write-link {
    width: 230px;
    height: 52px;
  }

  .contacts__map-pin {
    left: 363px;
    top: 137px;
    fill: @white;
  }

  .carry {
    display: none;
  }

  .logo-footer__icon-flag {
    display: block;
    margin-top: -10px;
  }
}

.contacts__write-link {
  margin: 55px auto;
  font-size: 17px;
  line-height: 1.18;
}

@media (min-width: @desktop-width) {
  .contacts {
    max-width: 1150px;
    min-height: 457px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 104px;
  }

  .contacts__wrapper {
    display: flex;
    padding: 0;
    margin: 0 50px;
  }

  .contacts__desktop-box-all {
    display: flex;
    flex-direction: column;
  }

  .contacts__desktop-box {
    display: flex;
    align-items: center;
    padding-left: 63px;
    width: 525px;
  }

  .contacts__title {
    order: 1;
    margin-right: 85px;
    margin-top: 60px;
    font-size: 53px;
    line-height: 1.08;
  }

  .contacts__map-image {
    position: relative;
    width: 525px;
    height: 457px;
  }

  .contacts__write-link {
    margin-left: 224px;
    margin-top: -51px;
  }

  .logo-footer__icon {
    display: block;
  }

  .logo-footer__icon-flag {
    display: block;
    margin-top: 65px;
  }

   .contacts__map-pin {

    left: 30px;
    top: 145px;
  }

  .contacts__table tbody {
    flex-direction: column;
    margin: -20px 0 0 130px;
  }

  .contacts__table {
    margin: 25px 0 0 30px;
  }

  .contacts__table-row {
    margin-left: -1px;
  }

  .ontacts__table-cell {
    margin-left: -20px;
  }
}
