.catalog-main__title {
  height: 177px;

  font-size: 27px;
  font-weight: bold;
  line-height: 177px;
  text-align: center;
  background: @grey-light;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .catalog-main__title {
    height: 226px;
    font-size: 42px;
    line-height: 226px;
    margin: 0px auto;
    width: 768px;
    margin-bottom: 80px;
  }
}
