.modal {
  display: block;
  width: 320px;
  min-height: 336px;
  margin: 0 auto;
  // position: fixed;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
}

.modal__wrapper {
  margin: 0 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin: 25px auto 10px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}

.basket-form__legend {
  font-size: 15px;
  line-height: 2;
  text-align: center;
  margin-bottom: 15px;
  color: @grey-dark;
}

.modal__button {
  width: 260px;
  height: 52px;
  text-transform: uppercase;
  font-weight: bold;
  color: @white;
  background-color: #63d1bb;
  margin-top: 30px;
}

fieldset {
  border: 0 none;
}

.basket-form__radio {
  display: flex;
  text-transform: uppercase;
  margin: auto;
  font-weight: bold;
}

.basket-form__size-box {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.basket-form__modal-border {
  display: flex;
  width: 82px;
  height: 52px;
  color: @grey-dark;
  border-color: rgba(239, 239, 239);

  &:hover {
    border-color: rgba(207, 207, 207);
  }

  &:active {
    border-color: #78d8c3;
  }
}

@media (min-width: @tablet-width) {
  .modal {
    width: 568px;
    min-height: 338px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 1.9;
    margin: 34px auto 13px;
  }

  .basket-form__legend {
    font-size: 17px;
    line-height: 1.76;
  }

  .basket-form__size-box {
    width: 350px;
  }

  .basket-form__modal-border {
    border-style: solid;
    border-width: 2px;
    width: 112px;
    height: 52px;
  }

  .basket-form__modal-border:active {
    border-color:#62d1ba
  }

  .modal__button {
    border: none;
    width: 350px;
    margin-top: 20px;
  }
}
