.modal {
  border: 1px solid green;
}

.modal__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.basket-form__legend {
  font-size: 15px;
  line-height: 2;
  text-align: center;
}

.modal__button {
  width: 260px;
  height: 52px;
  background-color: #63d1bb;
}
